server {
    listen 80;
    listen [::]:80;
    root /usr/share/wordpress;
    index index.php index.html index.htm;
    server_name labi.cloud-stacks.com;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}


