[log]
mode = console

[server]
protocol = http
http_addr = 0.0.0.0
http_port = 3000
enforce_domain = false
domain = labi.cloud-stacks.com
root_url = %(protocol)s://%(domain)s:%(http_port)/grafana/
serve_from_sub_path = true

[auth]
disable_login_form = false
